/node_modules
/public/hot
/public/cache
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/_dev
/public/css/*
/public/js/*
/public/back/css/*
/public/back/js/*
/public/cache
/public/visuals
/db-backup
