.fm
    .fm-navbar
        .btn
            .far, .fas
                display: block
                padding: .2rem 0
    .fm-modal
        .btn
            .far, .fas
                display: block
                padding: .2rem 0

.user-select-none
    user-select: none

.text-overflow-ellipsis
    text-overflow: ellipsis

table.layout-fixed
    table-layout: fixed

table.layout-fixed td.ellipsis
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.cursor-pointer
    cursor: pointer

.vertical-align-middle, .table th.vertical-align-middle, .table td.vertical-align-middle
    vertical-align: middle

.tab-content > form > .active
    display: block

.tab-content > form > .tab-pane
    display: none

