.fm
    .fm-navbar
        .btn
            .far, .fas
                display: block
                padding: .2rem 0
    .fm-modal
        .btn
            .far, .fas
                display: block
                padding: .2rem 0

.user-select-none
    user-select: none

.vertical-align-middle, .table th.vertical-align-middle, .table td.vertical-align-middle
    vertical-align: middle

.tab-content > form > .active
    display: block

.tab-content > form > .tab-pane
    display: none
